body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 50px;
  max-width: 800px;
}

#placeholder .button {
    position: absolute;
    cursor: pointer;
}
#placeholder div.button {
    font-size: smaller;
    color: #999;
    background-color: #eee;
    padding: 2px;
}
.message {
    padding-left: 50px;
    font-size: smaller;
}
